body {

}

nav {
    border-bottom: 1px solid black;
}

ul {
    list-style: none;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
}

.box {
    min-width: 20%;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px #322;
}

.box form {

}